#En esta sección definimos funciones y listas que se utilizarán para calcular tiempo y velocidad

In [ ]:
#Definicion de constantes
xo = 0
vo = 140
g = -9.81
import math 
angrad = math.radians (30) 
vox = vo*(math.cos (angrad))
voy = round(vo*(math.sin (angrad)))

In [ ]:
# Función para calcular raíces de un polinomio grado 2
def EcuacionSegundoGrado(a, b, c, x, y, opcion):
  if opcion == 'chicharroneraX1':
    resultado = (-b+(((b**2)-(4*a*c))**(1/2)))/(2*a)
  elif opcion == 'chicharroneraX2':
    resultado = (-b-(((b**2)-(4*a*c))**(1/2)))/(2*a)
  elif opcion == 'ecuacion de segundo grado':
    resultado = a*(x**2) + b*x + c
  else:
    resultado = print('error')
  
  return resultado

In [ ]:
#función para calcular la posición final dada una posición inicial, velocidad, aceleración y un tiempo
def Posicion(x, vo, t, a):
  resultado = x+(vo*t)-(0.5*a*(t**2))
  return resultado

In [ ]:
#lista de planetas
planeta = ['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [ ]:
#gravedad en cada planeta
gplan = [3.7,8.87,9.81,3.71,24.79,10.44,8.87,11.15]

#En esta sección calculamos el tiempo de vuelo, considerando que una parábola es simétrica con dos raíces, y el proyectil "pasa por el suelo" dos veces.

In [ ]:
#planeta 1
t1 = EcuacionSegundoGrado(-1.85, 70, 0, 0, 0, 'chicharroneraX1')
t2 = EcuacionSegundoGrado(-1.85, 70, 0, 0, 0, 'chicharroneraX2')
print(t1)
print(t2)

-0.0
37.83783783783784

In [ ]:
#planeta 2
t1 = EcuacionSegundoGrado(-4.435, 70, 0, 0, 0, 'chicharroneraX1')
t2 = EcuacionSegundoGrado(-4.435, 70, 0, 0, 0, 'chicharroneraX2')
print(t1)
print(t2)

-0.0
15.783540022547916

In [ ]:
#planeta 3
t1 = EcuacionSegundoGrado(-4.905, 70, 0, 0, 0, 'chicharroneraX1')
t2 = EcuacionSegundoGrado(-4.905, 70, 0, 0, 0, 'chicharroneraX2')
print(t1)
print(t2)

-0.0
14.271151885830784

In [ ]:
#planeta 4
t1 = EcuacionSegundoGrado(-1.855, 70, 0, 0, 0, 'chicharroneraX1')
t2 = EcuacionSegundoGrado(-1.855, 70, 0, 0, 0, 'chicharroneraX2')
print(t1)
print(t2)

-0.0
37.735849056603776

In [ ]:
#planeta 5
t1 = EcuacionSegundoGrado(-12.395, 70, 0, 0, 0, 'chicharroneraX1')
t2 = EcuacionSegundoGrado(-12.395, 70, 0, 0, 0, 'chicharroneraX2')
print(t1)
print(t2)

-0.0
5.647438483259379

In [ ]:
#planeta 6
t1 = EcuacionSegundoGrado(-5.22, 70, 0, 0, 0, 'chicharroneraX1')
t2 = EcuacionSegundoGrado(-5.22, 70, 0, 0, 0, 'chicharroneraX2')
print(t1)
print(t2)

-0.0
13.409961685823756

In [ ]:
#planeta 7
t1 = EcuacionSegundoGrado(-4.435, 70, 0, 0, 0, 'chicharroneraX1')
t2 = EcuacionSegundoGrado(-4.435, 70, 0, 0, 0, 'chicharroneraX2')
print(t1)
print(t2)

-0.0
15.783540022547916

In [ ]:
#planeta 8
t1 = EcuacionSegundoGrado(-5.575, 70, 0, 0, 0, 'chicharroneraX1')
t2 = EcuacionSegundoGrado(-5.575, 70, 0, 0, 0, 'chicharroneraX2')
print(t1)
print(t2)

-0.0
12.556053811659192

#En esta sección calculamos la posición final en x

In [ ]:
tiempovue = [37.83783783783784,15.783540022547916,14.271151885830784,37.735849056603776,5.647438483259379,13.409961685823756,15.783540022547916,12.556053811659192]

In [ ]:
listalc = []
for n in tiempovue:
  x = Posicion(0, vox, n, 0)
  listalc.append(x)

for n in zip(planeta,listalc):
    print('Alcance horizontal en', n[0], '=', n[1], 'm')

Alcance horizontal en Mercurio = 4587.5940308581075 m
Alcance horizontal en Venus = 1913.6525269644872 m
Alcance horizontal en Tierra = 1730.2852104153922 m
Alcance horizontal en Marte = 4575.228548295148 m
Alcance horizontal en Jupiter = 684.7155269937475 m
Alcance horizontal en Saturno = 1625.871447717912 m
Alcance horizontal en Urano = 1913.6525269644872 m
Alcance horizontal en Neptuno = 1522.3406201053808 m

# En esta sección calculamos la altura máxima alcanzada por el proyectil

In [ ]:
listTymax = []
for n in tiempovue:
  ty = n/2
  listTymax.append(ty)

print(listTymax)

[18.91891891891892, 7.891770011273958, 7.135575942915392, 18.867924528301888, 2.8237192416296897, 6.704980842911878, 7.891770011273958, 6.278026905829596]

In [ ]:
listaltmax = []
for n in zip(listTymax,gplan):
  ymax = Posicion(0, voy, n[0], n[1])
  listaltmax.append(ymax)

for n in zip(planeta,listaltmax):
    print('Altura máxima en', n[0], '=', n[1], 'm')

Altura máxima en Mercurio = 662.1621621621622 m
Altura máxima en Venus = 276.21195039458854 m
Altura máxima en Tierra = 249.74515800203872 m
Altura máxima en Marte = 660.377358490566 m
Altura máxima en Jupiter = 98.83017345703912 m
Altura máxima en Saturno = 234.67432950191574 m
Altura máxima en Urano = 276.21195039458854 m
Altura máxima en Neptuno = 219.73094170403584 m